<p id="notice"><%= notice %></p>

<h1><%= @tournament.name %></h1>
<h4><%= @tournament.players.count %> Players (<%= @tournament.total_number_of_rounds %> Rounds)</h4>
<h4><%= @tournament.status %></h4>


<% unless @tournament.finished? %>
  <% if @tournament.can_add_players? %>
    <button class="btn" id="add_player">Add Player</button>
    <%= link_to "Start Tournament", tournament_start_path(@tournament), :class => "btn" %>
  <% elsif @tournament.all_matches_finished? %>
    <h4><%= @tournament.current_round %> / <%= @tournament.total_number_of_rounds %> Rounds</h4>
    <%= link_to "Finalize Round", tournament_next_round_path(@tournament), :class => "btn" %>
  <% end %>
<% end %>


<div id="add_player_form" style="display: none">
  <% @player = Player.new %>
  <%= render 'players/form' %>
</div>

<% if @tournament.running? %>
<h2>Matches</h2>
<table class="table">
	<thead>
    <th>Match ID</th>
		<th>Player 1</th>
		<th>Player 2</th>
		<th>Game 1</th>
		<th>Game 2</th>
		<th>Status</th>
	</thead>
  <% for match in @matches %>
  <tr>
    <td><%= match.round %></td>
    	<% for player in match.players %>
      	<td class-"player"><%= player.name %></td>
    	<% end %>
      
      <% unless match.status == "finished" %>
        <td class="match">
          <%= form_for(match, :remote => true) do |f| %>
            <%= f.text_field :game_1_score, :class => "score" %>
          <% end %>
        </td>
      <% else %>
        <td class="match submitted">
         <%= match.game_1_score %>
        </td>
        <% end %>
      
      <% unless match.status == "finished" %>
        <td class="match" id="match2">
          <%= form_for(match, :remote => true) do |f| %>
            <%= f.text_field :game_2_score, :class => "score" %>     
          <% end %>
        </td>
      <% else %>
        <td class="match submitted" id="match2">
          <%= match.game_2_score %>
        </td>
      <% end %>
      
      <td>
      <% if !match.finished? %>
        <%= link_to "Finalize", tournament_score_match_path(@tournament, :match => match), :remote => true, :class => "btn finalize" %>
      <% elsif match.round == @tournament.current_round %>
        <%= link_to "Oops", tournament_score_match_path(@tournament, :match => match), :class => "btn" %>
      <% else %>
        <%= "Went To Time" if match.went_to_time? %>
      <% end %>
      </td>

	</tr>
  <% end %>
</table>
<% end %>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Prestige</th>
    <th>Match Points</th>
  </thead>
  <% for player in @players %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.prestige %></td>
      <td><%= player.match_points %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
